<h1><img src="https://steamcdn-a.akamaihd.net/steam/apps/1122050/extras/suica_chara.gif?t=1598950928" width="45"/> Hey, hello there.</h1>

<p>Welcome to my page! </br> I'm Nestor, a self-taught fullstack developer from <img src="https://image.flaticon.com/icons/svg/197/197593.svg" width="13"/> <b>Galicia, Spain.</b> Creating software and apps for humans. 
<h3>Things I code with</h3>
<p>
  <img
  alt="React"
  src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white"
/>
<img
  alt="Next.js"
  src="https://img.shields.io/badge/-Next.js-252422?style=flat-square&logo=next.js&logoColor=white"
/>
<img
  alt="Webpack"
  src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square&logo=webpack&logoColor=black"
/>
<img
  alt="Docker"
  src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white"
/>
<img
  alt="github actions"
  src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white"
/>
<img
  alt="html5"
  src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white"
/>
<img
  alt="Javascript"
  src="https://img.shields.io/badge/-Javascript-F6DB17?style=flat-square&logo=Javascript&logoColor=black"
/>
<img
  alt="TypeScript"
  src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white"
/>
<img
  alt="Python"
  src="https://img.shields.io/badge/-Python-FFD963?style=flat-square&logo=Python&logoColor=black"
/>
<img
  alt="C"
  src="https://img.shields.io/badge/-C-8900f2?style=flat-square&logo=C&logoColor=white"
/>
<img
  alt="C#"
  src="https://img.shields.io/badge/-C%23-43aa8b?style=flat-square&logo=C-sharp&logoColor=white"
/>
<img
  alt="Insomnia"
  src="https://img.shields.io/badge/-Insomnia-5849BE?style=flat-square&logo=insomnia&logoColor=white"
/>
<img
  alt="Heroku"
  src="https://img.shields.io/badge/-Heroku-430098?style=flat-square&logo=heroku&logoColor=white"
/>
<img
  alt="GraphQL"
  src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=graphql&logoColor=white"
/>
<img
  alt="Apollo"
  src="https://img.shields.io/badge/-Apollo-a100f2?style=flat-square&logo=apollo-graphql&logoColor=white"
/>
<img
  alt="Sass"
  src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white"
/>
<img
  alt="Styled Components"
  src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white"
/>
<img
  alt="git"
  src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white"
/>
<img
  alt="npm"
  src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white"
/>
<img
  alt="Yarn"
  src="https://img.shields.io/badge/-Yarn-99c1de?style=flat-square&logo=yarn&logoColor=black"
/>
<img
  alt="Prettier"
  src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=black"
/>
<img
  alt="MongoDB"
  src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white"
/>
<img
  alt="Nodejs"
  src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white"
/>
<img
  alt="VS Code"
  src="https://img.shields.io/badge/-VS%20Code-007ACC?style=flat-square&logo=visual-studio-code&logoColor=white"
/>
</p>
<h3>Open source projects</h3>
<table>
  <thead align="center">
    <tr border: none;>
      <td><b>🎁 Projects</b></td>
      <td><b>⭐ Stars</b></td>
      <td><b>📚 Forks</b></td>
      <td><b>🛎 Issues</b></td>
      <td><b>📬 Pull requests</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
			<td><a href="https://github.com/Nsttt/Netflix-clone"><b>Netflix Clone</b></a></td>
      <td><a href="https://github.com/Nsttt/Netflix-clone/stargazers"><img alt="Stars" src="https://img.shields.io/github/stars/Nsttt/Netflix-clone?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/Netflix-clone/network/members"><img alt="Forks" src="https://img.shields.io/github/forks/Nsttt/Netflix-clone?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/Netflix-clone/issues"><img alt="Issues" src="https://img.shields.io/github/issues/Nsttt/Netflix-clone?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/Netflix-clone/pulls"><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/Nsttt/Netflix-clone?style=flat-square&labelColor=343b41"/></a></td>
    </tr>
    <tr>
	    <td><a href="https://github.com/Nsttt/githunter"><b>GitHunter: Starred project hunter.</b></a></td>
      <td><a href="https://github.com/Nsttt/githunter/stargazers"><img alt="Stars" src="https://img.shields.io/github/stars/Nsttt/githunter?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/githunter/network/members"><img alt="Forks" src="https://img.shields.io/github/forks/Nsttt/githunter?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/githunter/issues"><img alt="Issues" src="https://img.shields.io/github/issues/Nsttt/githunter?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/githunter/pulls"><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/Nsttt/githunter?style=flat-square&labelColor=343b41"/></a></td>
    </tr>
	  <tr>
		  <td><a href="https://github.com/Nsttt/nst-sh"><b>nst.sh: URL Shortener.</b></a></td>
      <td><a href="https://github.com/Nsttt/nst-sh/stargazers"><img alt="Stars" src="https://img.shields.io/github/stars/Nsttt/nst-sh?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/nst-sh/network/members"><img alt="Forks" src="https://img.shields.io/github/forks/Nsttt/nst-sh?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/nst-sh/issues"><img alt="Issues" src="https://img.shields.io/github/issues/Nsttt/nst-sh?style=flat-square&labelColor=343b41"/></a></td>
      <td><a href="https://github.com/Nsttt/nst-sh/pulls"><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/Nsttt/nst-sh?style=flat-square&labelColor=343b41"/></a></td>
    </tr>
  </tbody>
</table>
<h3>My last 3 pictures posted <a href="https://www.instagram.com/nstlopez/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @nstlopez</a><br/>
</h3><p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>

<a href="https://www.buymeacoffee.com/nstlopez"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=nstlopez&button_colour=793e84&font_colour=ffffff&font_family=Lato&outline_colour=ffffff&coffee_colour=FFDD00"></a>

<h3>Where to find me</h3>
<p><a href="https://www.linkedin.com/in/nestorlopezlopez" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a><a href="https://github.com/nsttt" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a> <a href="https://twitter.com/nstlopez" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> 
</p>

------------
<p align="center">This <i>README</i> file is generated <b>every day</b>!</br>Last refresh: {{refresh_date}}</p>