<h1><img src="https://steamcdn-a.akamaihd.net/steam/apps/1122050/extras/suica_chara.gif?t=1598950928" width="45"/> Hey, hello there.</h1>

<p>Welcome to my page! </br> I'm Nestor, a self-taught fullstack developer from <img src="https://image.flaticon.com/icons/svg/197/197593.svg" width="13"/> <b>Galicia, Spain.</b> Creating software and apps for humans. 
<h3>Things I code with</h3>
<p>
{{#labels}}
<img alt="{{name}}" src="{{icon.url}}" />
{{/labels}}
</p>

<h3>My latest projects explained in detail</h3>
<ul>
{{#projects}}
<li><a href="https://nstlopez.com/project/{{permalink}}" target="_blank">{{title}}: {{subtitle}}</a></li>
{{/projects}}
</ul>
<h3>My last 3 pictures posted <a href="https://www.instagram.com/nstlopez/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @nstlopez</a><br/>
</h3><p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>

<div>
<a href="https://nstlopez.com/" target="_blank"><img alt="My Portfolio" src="./static/portfolio_button.svg" /></a>
![Alt text](https://spotify-recently-played-readme.vercel.app/api?user=nesteahd&count=1)

<h3>My social media</h3>
<a href="https://www.linkedin.com/in/nestorlopezlopez" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
<a href="https://twitter.com/nstlopez" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a>
<a href="https://discord.com/invite/qDXCrK4" target="_blank"><img alt="Discord" src="https://img.shields.io/badge/discord-7289DA.svg?&style=for-the-badge&logo=discord&logoColor=white" /></a> 
</div>

------------
<p align="center">This <i>README</i> file is generated <b>every day</b>!</br>Last refresh: {{refresh_date}}</p>
